@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&family=Shrikhand&display=swap');

*{
    font-family: roboto;
}

body{
    margin: 0px;
}

/*page d'accueil */

/* annimation loader */

.loader{
    animation-duration: 5s;
    animation-name: load;
    font-size: 0px;
}

.loader .fa-utensils{
    animation-duration: 5s;
    animation-name: load2;
}

@keyframes load {
    from {    
        z-index: 1000;
        position: absolute;
        background-color: tomato;
        opacity: 80%;
        height: 245%;
        width: 100%;
        display: flex;
        text-align: center;
    }
    to {
        position: unset;
        z-index: -10;
        opacity: 0%;
    }
  }

  @keyframes load2 {
    from {    
        margin-top: 50%;
        transform: rotate(360deg);
        font-size: 200px;
    }
    to {
        font-size: 0px;
    }
  }

/* header page d'accueil */

.logo{
    font-family: shrikhand;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.lieu{
    display: flex;
    justify-content: center;
    background-color: #EAEAEA;
}

.explorer{
    background-color: #F6F6F6;
}

.explorer h2{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0px;
}

.explorer p{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.but_explor{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 190px;
    height: 50px;
    justify-content: center;
    padding-top: 15px;
    background: linear-gradient(170deg,#EB72DA, #9F5ADB);
    border-radius: 20px;
    border: none;
    color: white;
}

/* partie fonctionnement */
.fonctionement h2{
    margin-left: 20px;
}

.all_f_card{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.f_card{
    display: flex;
    margin-right: 20px;
}

.num{
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 50px;
    width: 25px;
    position: relative;
    right: -15px;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    background-color: #9356DC;

}

.txt_f_card{
    display: flex;
    border: 1px solid;
    width: 100%;
    height: 60px;
    border-radius: 20px;
    font-weight: bold;
    background-color: #F6F6F6;
    padding-left: 50px;
    column-gap: 50px;
    align-items: center;
}


.txt_f_card:hover{
    background-color: #F5EDFF;
}


/* card des restaurants */

.restaurants{
    height: auto;
    background-color: #F6F6F6;
    padding-bottom: 50px;
    padding-left: 20px;
}

.all_rest_card{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.all_rest_card a{
    width: calc(100% - 20px);
    text-decoration: none;
}

a .rest_card{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 6px 0px #0000002e;
}

.rest_img{
    position: relative;
    height: 85%;
    width: 100%;
}

.restaurants img{
    height: 100%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.new{
    right: 15px;
    position: absolute;
    top: 20px;
    border: 1px solid;
    color: #058A69;
    background-color: #99e2d0;
    font-size: 12px;
    font-weight: bold;
    width: 65px;
    height: 25px;
    padding-top: 10px;
    text-align: center;
}

.rest_txt{
    display: flex;
    background-color: white;  
    justify-content: space-between;  
}

.heart{
    display: flex;
    align-items: center;
}

.heart:hover{
    color: linear-gradient(170deg,#EB72DA, #9F5ADB);
}

/* footer */

footer{
    display: flex;
    flex-direction: column;
    background-color: #353535;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer a{
    text-decoration: none;
    color: white;
}

.footer_logo{
    font-family: shrikhand;
    font-size: 20px;
    color: white;
}

.footer_link{
    display: flex;
    flex-direction: column;
}

/* version desktop accueil */

@media screen and (min-width: 992px){


    header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }

    .logo{
        display: flex;
        font-size: 50px;
        margin-top: 30px;
        width: 50%;
    }

    .lieu{
        font-size: 30px;
        width: 50%;
        margin-top: 50px;
    }

    .explorer{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    h2{
        display: flex;
        justify-content: center;
        font-size: 30px;
    }



    .all_f_card{
        display: flex;
        flex-direction: row;
    }
    .f_card{
        width: calc(100%/3);
    }

    .all_rest_card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20px;
    }

    .all_rest_card a{
        display: flex;
        width: calc(50% - 10px);
    }

    .footer_logo{
        display: flex;
        justify-content: center;
    }

    .footer_link{
        display: flex;
        flex-direction: row;
        column-gap: 10%;
        
    }

}


/*# sourceMappingURL=style.css.map */